html, body {
    font-size: 30px;
    font-family: 'thesansbw2_extralight', sans-serif;
    text-align: center;
    height: 100%;
    margin:0;
    padding:0;
}

a {
    color:#000;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.container {
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
}
.titlecenter {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-110px);
    -webkit-transform: translateY(-110px);
    -o-transform: translateY(-110px);
    -ms-transform: translateY(-110px);
    transform: translateY(-110px);
}
.container.termListContainer {
    min-height:620px;
}
.termListCenter {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-310px);
    -webkit-transform: translateY(-310px);
    -o-transform: translateY(-310px);
    -ms-transform: translateY(-310px);
    transform: translateY(-310px);
}

.mainheading {
    font-family: 'themixextralight_italic';
    font-size: 1.66rem;
    position:relative;
    letter-spacing: 0.06em;
    margin-bottom: 0px;
}
.hr-title {
    display:block;
    width:90%;
    max-width:850px;
    height:0;
    margin:-3px auto 0;
    border-width: 3px 0 0px;
    border-style: solid;
}
.subheading {
    font-family: 'themixextralight_caps';
    letter-spacing: 0.22em;
    font-size:0.66rem;
    margin-top: 10px;
}


h1.term {
    text-transform: uppercase;
    letter-spacing: 0.16em;
}
span.subTerm  {
    display: block;
    margin: 555px 7px 0 7px;
}
.subTermImageCenter {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.subTermImage {
    position:absolute;
    width:1000px;
    left:50%;
    margin-left:-500px;
    top:40px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.termList li {
    font-size: 1.5rem;
    line-height: 2;
}

.subTermsList {
    margin:30px auto 0;
    max-width:660px;
    width:90%;
}
.subTermsList li {
    display:block;
    margin:15px 10px;
    width:200px;
    float:left;
    cursor: pointer;
}
.subTermsList li.selected {
    font-family: 'thesansbw5_plain';
}


.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}